.game-over {
  font-size: 150px;
  text-align: center;
  color: crimson;
  display: none;
  margin: 0px;
}
body {
  color: white;
  background-image: linear-gradient(
    45deg,
    hsl(152deg 100% 68%) 0%,
    hsl(172deg 100% 47%) 9%,
    hsl(182deg 100% 45%) 18%,
    hsl(189deg 100% 47%) 27%,
    hsl(195deg 100% 46%) 36%,
    hsl(205deg 69% 55%) 45%,
    hsl(223deg 58% 63%) 55%,
    hsl(262deg 56% 65%) 64%,
    hsl(306deg 54% 57%) 73%,
    hsl(327deg 91% 55%) 82%,
    hsl(339deg 100% 50%) 91%,
    hsl(0deg 100% 50%) 100%
  );
  background-repeat: no-repeat;
  height: 100vh;
}
.button {
  /* display: flex; */
  justify-content: center;
  align-items: center;
  display: none;
}
.clicker {
  width: 200px;
  height: 200px;
  border-radius: 50%;
  user-select: none;
  opacity: 0.5;
}
.total-amount {
  font-size: 100px;
  margin-right: 80px;
}
.play-again {
  display: none;
  width: 150px;
  height: 50px;
}
.play-again-wrapper {
  display: flex;
  justify-content: center;
}
.highscore {
  display: none;
}
.gamecountdown {
  text-align: center;
  font-size: 120px;
}
#smiley {
  cursor: url("https://www.w3docs.com/uploads/media/default/0001/02/ee4486d1b3fc998e444c3b0100c73db282760eb5.png"), auto;
}